*{
  margin: 0;
  
}
body {
  background: url('./assets/bg.svg');
  background-repeat: none;
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: Proxima;
  src: url(./fonts/Proxima.otf)
}